.pointer {
    cursor: pointer;
    color: #33A2FF;
}

img {
    width:150px;
    height: 150px;
}

label {
    font-weight: bold;
    font-size: 18px;
}

.profile {
    line-height: 1.9;
    font-size: 18px;
}

#map {
    height: 40vh;
    width: 60vh
}